*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    margin: auto;
    width: calc(100% - 100px);
  }
  a{
    text-decoration: none;
    color:white;
  }
  @media (max-width: 425px){
    .container{
      width: calc(100% - 60px);
    }
    /* .swiper-wrapper .swiper-slide{
      margin-right: 90px;
    } */
  }